.scripts-tab {
	display: flex;
	flex-direction: column;

	.top-panel {
		margin-bottom: 1rem !important;
		font-size: 1.3rem;
		font-weight: 600;

		color: $text-color-grey;
	}

	.validation-error {
		margin-left: 0.5rem;
		display: flex !important;
		align-items: center;

		.icon {
			height: 1.5rem;
			width: 1.5rem;
		}
	}

	.editor {
		flex-grow: 1;
		width: 100%;
		height: 1px;

		border: 4px solid transparent;
		border-radius: 0.7rem;

		&.error {
			border-color: red;
		}

		.CodeMirror {
			height: 100%;
			max-width: 100%;
			width: 100%;

			border-radius: 0.5rem;
		}
	}

	.actions-container {
		margin-top: 2rem;
	}

	.save-btn {
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
		border-radius: 1rem;

		color: $text-color-white;
		background: $success-color;

		&:hover {
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.25);
		}

		&:active {
			background: darken($success-color, 5%);
		}

		&:disabled {
			background: lighten($success-color, 20%);
		}

		.icon {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
