.icon {
	height: 2rem;
	width: 2rem;
}

.delete-icon {
	fill: $error-color;
}

.open-icon {
	fill: $processing-color;
}

.error-icon {
	fill: $error-color;
}

.success-icon {
	fill: $success-color;
}

.warning-icon {
	fill: $warning-color;
}

.info-icon {
	fill: $active-color;
}

.user-icon {
	fill: $success-color;
}

.edit-icon {
	fill: $processing-color;
}
