.header {
	display: flex;

	.logo {
		display: flex;
		align-items: center;

		&:hover .logo-text {
			color: $success-color;
			border-color: $success-color;
		}

		&:active .logo-text {
			color: darken($success-color, 20%);
			border-color: darken($success-color, 20%);
		}
	}

	.logo-icon {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 1rem;
	}

	.logo-text {
		font-size: 1.5rem;
		font-weight: 500;
		transition: 0.2s;
	}

	.nav {
		display: flex;
		align-items: center;
		margin: 0 3rem;
	}

	.nav-item {
		margin: 0 0.5rem;
		font-size: 1.1rem;
		font-weight: 400;
		transition: 0.2s;

		&:hover {
			color: $success-color;
		}

		&:active {
			color: darken($success-color, 20%);
		}
	}

	#monitors {
		border-radius: 1rem;
		padding: 5px 10px;

		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 6px rgba(0, 0, 0, 0.05);
	}
}
