#monitors-list-page {
	.top-panel {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;

		.title {
			font-size: 1.7rem;
			font-weight: 400;
		}

		.add-btn {
			margin-left: auto;
			padding: 0.5rem 1rem;
		}
	}

	.table-wrapper {
		position: relative;
		overflow-y: scroll;
		padding-right: 1rem;
	}

	.monitors-table {
		width: 100%;
		border-collapse: collapse;

		thead {
			position: sticky;
			top: 0;
			background: $body-background;

			&::after {
				position: absolute;
				content: "";
				background: $text-color-grey;
				height: 1px;
				width: 100%;
			}
		}

		th {
			text-align: left;
			padding-bottom: 1rem;

			color: $text-color-grey;
			text-transform: uppercase;
		}

		.name-col {
			width: 16%;
		}

		.host-col {
			width: 17%;
		}

		.subject-col {
			width: 16%;
		}

		.issuer-col {
			width: 18%;
		}

		.expires-in-col {
			width: 12%;
		}

		.actions-col {
			text-align: right;
			padding-right: 8px;
		}
	}

	.monitors-table-item {
		height: 4rem;
		border-bottom: 1px solid $normal-color;

		td {
			max-width: 1px;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding-right: 16px;

			overflow: hidden;

			&:last-child {
				padding: 0;
			}
		}

		.actions-val div {
			display: flex;
			justify-content: flex-end;

			.icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		.expires-in-val {
			&.expired-severity .badge {
				background-color: $expired-color;
			}

			&.high-severity .badge {
				background-color: $warning-color-darker;
			}

			&.moderate-severity .badge {
				background-color: $success-color;
			}

			&.low-severity .badge {
				background-color: $active-color;
			}

			.badge {
				display: inline-block;
				width: 10ch;
				padding: 4px 8px;
				border-radius: 20px;
				text-align: center;
				font-weight: 600;

				color: white;
			}
		}
	}
}

.subject-tooltip, .issuer-tooltip {
	display: flex;
	flex-direction: column;
}
