@import "./tabs/tabs.scss";

#monitor-page {
	.top-panel {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;

		.title {
			font-size: 2rem;
		}

		.delete-btn {
			margin-left: auto;
			padding: 0.5rem 1rem;
			background: $error-color;

			&:active {
				background: darken($error-color, 10%);
			}
		}
	}
}