$primary-color: #000;
$text-color: $primary-color;
$text-color-white: #fff;

$success-color: #6fcf97;
$warning-color: #f2c94c;
$error-color: #f16f6f;
$expired-color: red;
$normal-color: #cccccc;
$active-color: #2f80ed;
$processing-color: #56ccf2;

$body-background: #fff;

$warning-color-darker: #f2994a;

$body-background-darker: #d5e1ec;
$item-hover-background: #d8e2ec;

$text-color-grey: #999999;
