$primary-color: #000;
$text-color: $primary-color;
$text-color-white: #fff;

$success-color: #5d7e6c;
$warning-color: #987018;
$error-color: #eb5757;
$expired-color: #ec130e;
$normal-color: #cccccc;
$active-color: #2f80ed;
$processing-color: #56ccf2;

$body-background: #fff;

$body-background-darker: #d5e1ec;
$item-hover-background: #d8e2ec;

$text-color-grey: #999999;
